/* @import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap') */

@import 'tailwindcss'

/* @theme {
  --font-poltawski: "Poltawski+Nowy:ital",
} */


